extends layout

block content
  h1= title
  form(id='jacketsForm', action="/resource/jackets", method="POST")
    div.form-group
      label.jacketsAttr(for='jackets') Jackets type
      input#jackets(type='text', name='jackets')
    div.form-group
      label.jacketsAttr(for='cost') Jackets cost
      input#cost(type='number', name='cost')
    div.form-group
      label.jacketsAttr(for='brand') Jackets brand
      input#brand(type='text', name='brand')
    input(type="submit")
  script.
    document.forms['jacketsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error)
      });
    });
